{% layout "mylayout.liquid" %} {% block content %}
<main>
    <div class="container">
        <h1>my account</h1>
    </div>
    <div class="container accountProfile">
        <div class="row">
            <div class="col">
                <h3>name: {{user.name}}</h3>
            </div>
            <div class="col">
                <h3>phone: {{user.contactinfo}}</h3>
            </div>
            <div class="col">
                <a href="/users/{{user_id}}/edit"><button class="btn btn-info">edit profile</button></a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <h1>my products</h1>
        </div>
        {% if productsList.length > 0%}
        {% for item in productsList%}
        <div class="row">
            <div class="col">
                <h3>{{item.name}}</h3>
            </div>
            <div class="col">
                <a href="/products/{{item._id}}/edit"><button class="btn btn-warning">edit product</button></a>
            </div>
            <div class="col">
                <form action="/products/{{item._id}}/delete/{{item.belongsTo}}?_method=DELETE" method="POST">
                    <input type="submit" class="btn btn-danger" value="delete product">
                </form>
            </div>

        </div>
        {% endfor %}
        {% else %}
        <div class="row">
            <h1>no products yet!</h1>
        </div>
        {% endif %}
        <div class="container accountProducts">
            <div class="row">
                <div class="col center">
                    <a href="/products/{{user_id}}/add"><button class="btn btn-success">add product</button></a>
                    <a href="/products/{{user_id}}/browse"><button class="btn btn-secondary">browse
                            products</button></a>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <h1>my reviews</h1>
        </div>
        <div class="row">
            <div class="col-2">
                <h3>from</h3>
            </div>
            <div class="col-md">
                <h3>review</h3>
            </div>
        </div>
        {% for review in reviewsList%}
        <div class="row">
            <div class="col-2">
                <h5>{{review.username}}</h5>
            </div>
            <div class="col-md">
                <h5>{{review.content}}</h5>
            </div>
        </div>
        {% endfor %}

    </div>
</main>

{% endblock %}