{% layout "layout.liquid" %} {% block content %}
<a href=""><button>Edit User</button></a>
<a href=""><button>View Products</button></a>
<a href=""><button>View Users</button></a>
<a href="/users/logout"><button>Log Out</button></a>
{{userInfo.name}}
{{userInfo.username}}
{{userInfo.contactinfo}}
{{userInfo.reviews}}
{{userInfo.productsList}}
{% endblock %}