{% layout "layout.liquid" %} {% block content %}
<h1 class="center">account page</h1>
<h1>{{user.name}}</h1>
<a href="/users/{{user_id}}/edit"><button>Edit Profile</button></a>
<a href="/products/{{user_id}}/add"><button>Add Product</button></a>
<a href="/products/{{user_id}}/browse"><button>Browse</button></a>
<h1 class="center">{{user.contactinfo}}</h1>
{% if productsList.length > 0%}
    {% for item in productsList%}
    <h1>{{item.name}}</h1>
    {% endfor %}
{% else %}
    <h1>No products yet!</h1>
{% endif %}
<h1>Reviews</h1>
{% for review in reviewsList%}
<h1>{{reviewsList[forloop.index].content}}</h1>
{% endfor %}
{% endblock %}