{% layout "layout.liquid" %} {% block content %}
<div class="container">
    <div class="row">
        <h1>all products</h1>
    </div>
    <div class="row">
        {% for product in allProducts %}
        <div class="col-3">
            <h6 class="productName">
                <a href="/products/{{userID}}/show/{{product.belongsTo}}/{{forloop.index0}}">{{product.name}}</a>
                <a href="/products/{{userID}}/show/{{product.belongsTo}}/{{forloop.index0}}"><img src="{{product.img}}" alt="{{product.name}} picture" width="200px"></a>
            </h6>
            
        </div>
        
        {% endfor %}
    </div>

</div>
{% endblock %}