{% layout "layout.liquid" %} {% block content %}
<h1>show page</h1>
<a href="/users/{{viewingUser._id}}/account">{{viewingUser.name}}</a>
<a href="/users/{{productUser._id}}/accountview/{{viewingUser._id}}">{{productUser.name}}</a>
{{product.name}}
{% endblock %}